/* -------------------------------------------*/
/* -------------->>> GLOBAL <<<---------------*/
/* -------------------------------------------*/

html {
  background-color: rgb(242,241,242);
  font-family: 'Source Sans Pro', sans-serif;
}

/* -----------------------------------------*/
/* ------------->>> NAV BAR <<<-------------*/
/* -----------------------------------------*/

nav#my-nav {
  min-height: 12%;
  background-color: white;
  color:black;
  border-bottom: 4px solid orange;
  margin: 0;
  padding: 0;
}

nav#my-nav a {
  color:black;
}

nav li#links {
  margin: 18px 0;
  font-size: 1.2em;
}

nav a.navbar-brand {
  padding-top: 35px;
  font-weight: 600;
}

nav#my-nav a:hover {
  color:#ff9a33
}

a img{
  height: 65px;
  margin: 15px 7px 15px 0;
}

/* ---------------------------------------------*/
/* ------------->>> HOME PAGE <<<---------------*/
/* ---------------------------------------------*/

form {
  display: inline-block;
  width: 90%;
}

input#propertiesSearch {
  height:40px;
  margin-bottom: 10px;
}

button.btn.btn-secondary {
  height: 40px;
  background-color: black;
  color:white;
  margin-bottom: 10px;
}

div#instructions {
  padding-top: 18px;
  font-size: 1.1em;
  display: inline-block;
  width: 85%;
}

div#instructions_building {
  font-size: 1.1em;
  display: inline-block;
  width: 85%;
  margin-top: 140px;
}

@media (max-width: 765px) {
  div#instructions_building {
    margin-top: 20px;
  }
}

hr.featurette-divider {
  border: 1px solid grey;
  margin: 40px 0 30px 0;
  width: 90%;
}

 shr.featurette-divider.home {
  border: 1px solid rgb(183,183,184);
  margin: 40px 0 30px 0;
  width: 100%;
  left:0;
}

/* -----------------------------------------------*/
/* ---------->>> FOOTER ON HOME PAGE<<<-----------*/
/* -----------------------------------------------*/

footer {
  background: rgb(127,128,129);
  position: relative;
  bottom: 0;
  left: 0;
  right:0;
  padding: 1rem 1rem 10rem 1rem;
}

hr.featurette-divider.footer {
  border: 1px solid orange;
  margin: 5px 0 25px 0;
  width:100%;
}

footer p {
  margin-bottom: 50px;
  font-size: 1.1em;
  width: 90%;
  text-align: left;
}

img.logo {
  margin-top: 8px;
  height: 80px;
}

/* ---------------------------------------------*/
/* -------------->>> ALERTS <<<-----------------*/
/* ---------------------------------------------*/

div.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 90%;
    margin-bottom: 0px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: black;
}

.close {
    float: right;
    margin-right: 25px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: black;
}

/* ------------------------------------------------*/
/* ---->>> PROPERTY AND OWNER SHOW PAGES <<<-------*/
/* ------------------------------------------------*/

#breadcrumb {
  margin: 5px;
  color: grey;
  font-size: 1.2em;
}

a.breadcrumb_top {
  color: rgb(255,165,0);
  text-decoration: none;
  background: none;
}

a.breadcrumb_top:hover {
  color: rgb(255,33,1);
  text-decoration: none;
  background: none;
}

#info_heading {
  padding: 5px 0 0 10px;
  color: grey;
}

hr.featurette-divider.property {
  border: 1px solid grey;
  margin: 5px 0 10px 0;
  width: 90%;
}                              

table.table>tbody>tr>td {
  border-top: 1px solid white;
}

table.table-striped>tbody>tr>td {
  border: 1px solid black;
}

td {
  text-align: center;
}

td.R {
  text-align: right;
  font-weight: 600;
  border-top: white;
  font-size: 1.1em;
}

td.L {
  text-align: left;
  font-size: 1.1em;
}

tr#blue {
  background: rgb(169,207,213);
}

tr#blue th {
  text-align: center;
  border: 1px solid black;
}

a.owner {
  font-size: 1.1em;
  margin-left: 30px;
  color: rgb(255,165,0);
  font-weight: 500;
  text-decoration: none;
  line-height: 1.8em;
}

a.owner:hover{
  color: rgb(255,33,1);
  text-decoration: none;
}

div.chart {
  margin-left:10%
}

h4.show_hide {
  color: rgb(255,165,0);
  display: inline-block;
  margin: 0 5px 30px 0;
  cursor: pointer;
}

h4.show_hide:hover {
  color: rgb(255,33,1);
}

fa-caret-down {
  color: rgb(255,165,0);
  font-size: 1.6em;
}

fa-caret-right {
  color: rgb(255,165,0);
  font-size: 1.6em;
}


/* ---------------------------------------------------*/
/* ->>> RELATED RESOURCES AND CONTACT PAGES <<--------*/
/* ---------------------------------------------------*/

h3#resource_text {
  text-align: center;
}

hr.featurette-divider.resource {
  border: 1px solid orange;
  margin: 20px 30% 30px 30%;
  width: 40%;
}

#resource_text {
  color:white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-decoration: none;
}

#resource_text a {
  color:white;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  text-decoration: none;
  line-height: 1.8em;
}

#resource_text a:hover {
  color:orange;
}






