html {
  background-color: rgb(242,241,242);
}

nav#my-nav{
  min-height: 12%;
  background-color: white;
  color:black;
}

nav#my-nav a{
  color:black;
  margin-top: 12px;
  margin-bottom: 12px;
}

nav#my-nav a:hover{
  color:orange;
}

#info-panel {
  margin-top: 20px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px 20px 10px 20px;
  width: 90%;
  background-color: white;
}

#instructions {
  font-size: 1.2em;
}

#breadcrumb {
  margin: 5px;
  color: grey;
  font-size: 1.2em;
}


td {
  text-align: center;
}

form {
  width: 45%;
}

input#propertiesSearch {
  background-color: rgb(242,241,242);
}

button.btn.btn-secondary {
  height: 34px;
  background-color: black;
  color:white;
}

#header {
  margin-top: 5px;
  color: grey;
  font-size: 1.5em;
}

hr.featurette-divider {
  border: 1px solid grey;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 0;
  width: 90%;

}
