NY_GEOCLIENT_APP_ID=
NY_GEOCLIENT_APP_KEY=
RAILS_ENV=docker-dev
MYSQL_PORT=3306
MYSQL_USER=deltanyc
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=deltanyc
MYSQL_TEST_DATABASE=deltanyc_test
