<div class="container">

  <p id="breadcrumb">Home</p>

  <div id="info-panel">
      <h4>BUILDING LOOKUP TOOL</h4> 


      <form class="form input-group" ng-submit="vm.setDetails()">
                <input id="propertiesSearch" class="form-control" g-places-autocomplete force-selection="true" ng-model="vm.place"/>

                 <span class="input-group-btn">
                  <button class="btn btn-secondary" 
                  type="button"
                  ng-click="vm.getProperty()">Go</button>
                </span>
            </form>

            <h5>Result:</h5>
            <div>{{vm.details}}</div>

      <br><br>
     
        
      <p id="instructions">Building Lookup Tool allows you to enter a building's address, and return the following information about that building:</p><br>


  </div>

</div>


