<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <h3 style="margin-top: 155px;">BUILDING LOOKUP</h3>
      <form class="form input-group" ng-submit="vm.getProperty()">
        <input id="propertiesSearch" placeholder="Enter Address" class="form-control" g-places-autocomplete force-selection="true" ng-model="vm.place" options="autocompleteOptions" autocomplete="off"/>
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" ng-click="vm.getProperty()"><span ng-if="vm.go">Go</span><spinner id="spinner" name="propertiesSpinner" img-src="spinner4.gif"></spinner></button>
        </span>
      </form>

      <!--property alert box-->
       <div ng-if="vm.errors == 'address'">             
          <script type="text/ng-template" id="alert.html">
            <div ng-transclude></div>
          </script>

            <div uib-alert 
            ng-repeat="alert in vm.alerts" 
            type='alert.warning' 
            close="vm.closeAlert()" 
            style="background-color: rgb(185,215,222); text-align: center;">
            {{alert.msg}}</div>      

        </div>
       <!-- end of alert section -->

    </div><!--column-->

    <div class="col-sm-4">
      <div id="instructions-building">
        Look up a building’s Owners, BBL, BIN, Total Units, Rent Stabilized Units, HPD Violations, HPD Complaints, DOB Permits, DOB Violations, Litigation History, 311 Complaints, Financial and Tax Lien Information, and information about changes in Rent Stabilization.
      </div>
    </div><!--column-->

  </div><!-- row1-->
</div><!--container-->

<hr class="featurette-divider home">
<div class="container">
  <div class="row">

    <div class="col-sm-8">
      <h3>OWNER LOOKUP</h3>
      <form class="form input-group"  ng-submit="vm.goToOwner()">
        <input id="propertiesSearch" class="form-control"
        type="text" ng-model="vm.selectedOwner" 
        uib-typeahead="owner as owner.full_identity for owner in vm.getOwners($viewValue)"
        typeahead-loading="loading"
        typeahead-min-length="2"
        placeholder="Enter Name or Company" />
        <span class="input-group-btn">
          <button class="btn btn-secondary"
          type="button"
          ng-click="">Go</button>
        </span>
      </form>


      <!-- owner alert box-->
       <div ng-if="vm.errors == 'owner'">             
          <script type="text/ng-template" id="alert.html">
            <div ng-transclude></div>
          </script>

            <div uib-alert 
            ng-repeat="alert in vm.alerts" 
            type='alert.warning' 
            close="vm.closeAlert()" 
            style="background-color: rgb(185,215,222); text-align: center;">
            {{alert.msg}}</div>      

        </div>
       <!-- end of alert section -->


    </div><!--column-->



    <div class="col-sm-4">
      <div id="instructions">
        <p>Enter an Owner or Company and see a list of all associated properties.</p>
        <p>Note: The use of one or multiple LLCs may affect search results.</p>
      </div><br><br><br><br><br>
    </div><!--column-->

  </div><!-- row1-->
</div>

<footer>
  <div class="container" id="resource_text">
    <hr class="featurette-divider footer">
    <p class="col-sm-9">This tool was built by Heatseek NYC and the Civic Hall Labs Delta.NYC Program. It is designed to be a free resource for tenants’ rights advocates, lawyers, and anybody else interested in defending tenants’ rights.</p>
    <%=image_tag "heatSeek_logo.png", :class => "logo pull-right"%>
  </div>
</footer>
