<section class="added-space-under-nav">
  <div class="container">
    <p id="breadcrumb">
      <a class="breadcrumb-top" ui-sref="home">Home /</a> Building 
    </p>
  </div>
</section>

<section class="category-section">
    <div class="container">
      <h2 class="page-title">BUILDING</h2>
        <hr class="featurette-divider">
        <h2>{{vm.data.street_address | titleCase}}</h2>
        <br>
    </div>
</section>

<section class="category-section">
    <div class="container">
      <h4 id="info-heading">GENERAL</h4>
      <hr class="featurette-divider property">

      <div class="row">
        <div class="col-sm-8">

          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="R">Address</td>
                <td class="L">{{vm.data.street_address | titleCase}}, {{vm.data.zipcode}}</td>
                <td class="R">BBL</td>
                <td class="L">{{vm.data.expand_borough | titleCase}}, {{vm.data.block}}, {{vm.data.lot}}</td>

              </tr>
              <tr>
                <td class="R">Rent Stabilized</td>
                <td class="L">{{vm.data.rent_stabilized || 'Unknown'}}</td>
                <td class="R">BIN</td>
                <td class="L">{{vm.data.bin}}</td>
              </tr>
              <tr>
                <td class="R">Total Units in Building</td>
                <td class="L">{{vm.data.total_units}}</td>
                <td class="R"></td>
                <td class="L"></td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</section><!-- End of General Info Section -->


<section class="category-section">
  <div class="container">
    <h4 id="info-heading">PROPERTY OWNER(S)</h4>
    <hr class="featurette-divider property">

      <div class="row">
        <div class="col-xs-2 owners-heading">
            <h4 class="pull-right owners-heading">Owners</h4>
        </div>
        <div class="col-xs-4 list-items">
          <div ng-repeat="owner in vm.data.owners | orderBy: 'name'">
            <a class="owner" ui-sref="owner({ id: owner.id })">{{owner.name}}</a>
          </div>
          <br><br><br>
        </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="category-section">
    <div class="container">
      <h4 id="info-heading">HPD</h4>
      <hr class="featurette-divider property">

      <div class="row">
        <div class="col-sm-8">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="R">Total Open</td>
                <td class="L">{{ vm.data.hpd_violations_count }}</td>
              </tr>
              <tr>
                <td class="R">HPD Violations</td>
                <td class="L">Class A: ?, Class B: ?, Class C: ?</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div class="row" ng-if="vm.data.hpd_violations_count">
        <div class="col-sm-10 chart">
        <h4 class="show-hide" slide-toggle="#hpd_violations"
          data-ng-init="hpd_violations=false"
          data-ng-click="hpd_violations=!hpd_violations">
            Details <i class="fa fa-caret-down" aria-hidden="true" data-ng-class="{'fa fa-caret-up': hpd_violations, 'fa fa-caret-down' : !hpd_violations}"></i>
          </h4>

          <div class="table-responsive slideable" id="hpd_violations">
          <h4 class="table-title">Open HPD Violations</h4>
            <table class="table table-striped">
              <tr id="blue">
                <tr id="blue">
                <th>Inspection<br>Date</th>
                <th>Violation Class </th>
                <th>Order #</th>
                <th>NOV ID</th>
                <th>Description</th>
                <th>Current Status</th>
                <th>Status Date</th>
                <th>Certified Date</th>
              </tr>
              <tr dir-paginate="v in vm.data.hpd_violations | itemsPerPage:10" pagination-id="hpd_violations">
                <td>{{ v.inspection_date }}</td>
                <td>{{ v.violation_class }}</td>
                <td>{{ v.order_number }}</td>
                <td>{{ v.novid }}</td>
                <td>{{ v.nov_description }}</td>
                <td>{{ v.current_status }}</td>
                <td>{{ v.current_status_date }}</td>
                <td>{{ v.certified_date }}</td>
              </tr>
            </table>
            <div class="text-center">
                <dir-pagination-controls
                pagination-id="hpd_violations"
                max-size="4"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="R">Total Open</td>
                <td class="L">{{ vm.data.hpd_open_complaints_count }}</td>
              </tr>
              <tr>
                <td class="R">HPD Complaints</td>
                <td class="L">Class A: ?, Class B: ?, Class C: ?</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row" ng-if="vm.data.hpd_open_complaints_count">
        <div class="col-sm-10 chart">
        <h4 class="show-hide" slide-toggle="#hpd_complaints"
          data-ng-init="hpd_complaints=false"
          data-ng-click="hpd_complaints=!hpd_complaints">
            Details <i class="fa fa-caret-down" aria-hidden="true" data-ng-class="{'fa fa-caret-up': hpd_complaints, 'fa fa-caret-down' : !hpd_complaints}"></i>
        </h4>

          <div class="table-responsive slideable" id="hpd_complaints">
          <h4 class="table-title">HPD Complaints</h4>
            <table class="table table-striped">
              <tr id="blue">
                <th>Received<br>Date</th>
                <th>Code ID</th>
                <th>Apt.</th>
                <th>Complaint<br>Type</th>
                <th>Major<br>Category ID</th>
                <th>Minor<br>Category ID</th>
                <th>Status</th>
                <th>Status ID</th>
                <th>Status Date</th>
              </tr>
              <tr dir-paginate="c in vm.data.hpd_complaints | itemsPerPage:10" pagination-id="hpd_complaints">
                <td>{{ c.received_date }}</td>
                <td>{{ c.code_id }}</td>
                <td>{{ c.apartment }}</td>
                <td>{{ c.complaint_type }}</td>
                <td>{{ c.major_category_id }}</td>
                <td>{{ c.minor_category_id }}</td>
                <td>{{ c.status }}</td>
                <td>{{ c.status_id }}</td>
                <td>{{ c.status_date }}</td>
              </tr>
            </table>
            <div class="text-center">
                <dir-pagination-controls
                pagination-id="hpd_complaints"
                max-size="4"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls>
            </div>
          </div>
        </div>
      </div>

    </div>

</section>

<section class="category-section">
    <div class="container">
      <h4 id="info-heading">DOB</h4>
      <hr class="featurette-divider property">

      <div class="row">
        <div class="col-sm-4">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="R">Total DOB Permits</td>
                <td class="L">{{ vm.data.dob_permits_count }}</td>
              </tr>
              <tr>
                <td class="R"></td>
                <td class="L"></td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div class="row" ng-if="vm.data.dob_permits_count">
        <div class="col-sm-10 chart">
        <h4 class="show-hide" slide-toggle="#dob_permits"
          data-ng-init="dob_permits=false"
          data-ng-click="dob_permits=!dob_permits">
          Details <i class="fa fa-caret-down" aria-hidden="true" data-ng-class="{'fa fa-caret-up': dob_permits, 'fa fa-caret-down' : !dob_permits}"></i>
        </h4>

          <div class="table-responsive slideable" id="dob_permits">
          <h4 class="table-title">DOB Permits</h4>
            <table class="table table-striped">
              <tr id="blue">
                <tr id="blue">
                <th>Job #</th>
                <th>Job<br>Type</th>
                <th>Job<br> Start Date</th>
                <th>Expiration<br> Date</th>
                <th>Permit<br>Status</th>
                <th>Permit<br>Type</th>
                <th>Filing<br>Status</th>
                <th>Filing<br>Date</th>
                <th>Building<br>Type</th>
                <th>Work<br>Type</th>
              </tr>
              <tr dir-paginate="d in vm.data.dob_permits | itemsPerPage:10" pagination-id="dob_permits">
                <td>{{ d.job_num }}</td>
                <td>{{ d.job_type }}</td>
                <td>{{ d.job_start_date }}</td>
                <td>{{ d.expiration_date }}</td>
                <td>{{ d.permit_status | titleCase}}</td>
                <td>{{ d.permit_type }}</td>
                <td>{{ d.filling_status }}</td>
                <td>{{ d.filing_date }}</td>
                <td>{{ d.bldg_type }}</td>
                <td>{{ d.work_type }}</td>
              </tr>
            </table>
            <div class="text-center">
                <dir-pagination-controls
                pagination-id="dob_permits"
                max-size="4"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="R">Total DOB Violations</td>
                <td class="L">{{ vm.data.dob_violations_count }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row" ng-if="vm.data.dob_violations_count">
        <div class="col-sm-10 chart">
        <h4 class="show-hide" slide-toggle="#dob_violations"
          data-ng-init="dob_violations=false"
          data-ng-click="dob_violations=!dob_violations">
          Details <i class="fa fa-caret-down" aria-hidden="true" data-ng-class="{'fa fa-caret-up': dob_violations, 'fa fa-caret-down' : !dob_violations}"></i>
        </h4>

          <div class="table-responsive slideable" id="dob_violations">
          <h4 class="table-title">DOB Violations</h4>
            <table class="table table-striped">
              <tr id="blue">
                <th>Issue Date</th>
                <th>Type</th>
                <th>Category</th>
                <th>Disposition Date</th>
                <th>Disposition Comments</th>
              </tr>
              <tr dir-paginate="v in vm.data.dob_violations | itemsPerPage:10" pagination-id="dob_violations">
                <td>{{ v.issue_date }}</td>
                <td>{{ v.violation_type }}</td>
                <td>{{ v.violation_category }}</td>
                <td>{{ v.disposition_date }}</td>
                <td>{{ v.disposition_comments }}</td>
              </tr>
            </table>
            <div class="text-center">
                <dir-pagination-controls
                pagination-id="dob_violations"
                max-size="4"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls>
            </div>
          </div>

        </div>
      </div>

    </div>

</section>


<section class="category-section">
    <div class="container">
      <h4 id="info-heading">LITIGATIONS</h4>
      <hr class="featurette-divider property">

      <div class="row">
        <div class="col-sm-4">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="R">Cases</td>
                <td class="L">{{ vm.data.litigations_count}}</td>
              </tr>
              <tr>
                <td class="R"></td>
                <td class="L"></td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div class="row" ng-if="vm.data.litigations_count">
        <div class="col-sm-10 chart">
        <h4 class="show-hide" slide-toggle="#litigations"
          data-ng-init="litigations=false"
          data-ng-click="litigations=!litigations">
          Details <i class="fa fa-caret-down" aria-hidden="true" data-ng-class="{'fa fa-caret-up': litigations, 'fa fa-caret-down' : !litigations}"></i>
        </h4>

          <div class="table-responsive slideable" id="litigations">
          <h4 class="table-title">Litigations</h4>
            <table class="table table-striped">
              <tr id="blue">
                <tr id="blue">
                <th>Open Date</th>
                <th>Case Type</th>
                <th>Status</th>
                <th>Judgement</th>
              </tr>
              <tr dir-paginate="l in vm.litigations | itemsPerPage:vm.itemsPerPage" 
              total-items="vm.totalLitigations"
              current-page="vm.litigationPage"
              pagination-id="litigations">
                <td>{{ l.case_open_date }}</td>
                <td>{{ l.case_type }}</td>
                <td>{{ l.case_status }}</td>
                <td>{{ l.case_judgement }}</td>
              </tr>
            </table>
              <div class="text-center">
                <dir-pagination-controls
                pagination-id="litigations"
                on-page-change="vm.litigationsPageChanged(newPageNumber)"
                max-size="20"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls>
            </div>
          </div>

        </div>
      </div>
<br><br>

</section>

<section class="category-section-last">
    <div class="container">
      <h4 id="info-heading">311</h4>
      <hr class="featurette-divider property">

      <div class="row">
        <div class="col-sm-4">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td class="R">Complaints</td>
                <td class="L">{{ vm.data.complaint311s_count }}</td>
              </tr>
              <tr>
                <td class="R"></td>
                <td class="L"></td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div class="row" ng-if="vm.data.complaint311s_count">
        <div class="col-sm-10 chart">
        <h4 class="show-hide" slide-toggle="#complaints311"
        data-ng-init="complaints311=false"
          data-ng-click="complaints311=!complaints311">
          Details <i class="fa fa-caret-down" aria-hidden="true" data-ng-class="{'fa fa-caret-up': complaints311, 'fa fa-caret-down' : !complaints311}"></i>
        </h4>

        <div class="table-responsive slideable" id="complaints311">
        <h4 class="table-title">311 Complaints</h4>
            <table class="table table-striped">
              <tr id="blue">
                <th>Created Date</th>
                <th>Complaint Type</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Agency</th>
                <th>Closed Date</th>
                <th>Resoutions Description</th>
              </tr>
              <tr dir-paginate="c in vm.data.complaint311s | itemsPerPage:10" pagination-id="complaints311">
                <td>{{ c.created_date }}</td>
                <td>{{ c.complaint_type }}</td>
                <td>{{ c.status }}</td>
                <td>{{ c.due_date }}</td>
                <td>{{ c.agency }}</td>
                <td>{{ c.closed_date }}</td>
                <td>{{ c.resolution_description }}</td>
              </tr>
            </table>
            <div class="text-center">
                <dir-pagination-controls
                pagination-id="complaints311"
                max-size="4"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls>
            </div>
          </div>

        </div>
      </div>
      <br><br>

</section>
