mysqlclient==1.3.10
SQLAlchemy==1.1.4
luigi==2.6.1
mysql-connector==2.1.4
numpy==1.11.3
pandas==0.19.2
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
six==1.10.0
slugify==0.0.1
wget==3.2
wsgiref==0.1.2
