<!DOCTYPE html>
<html>
<head>
  <title>Heatseek</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">

<%= yield %>

<script>

  $(document).on('click','.navbar-collapse.in',function(e) {

      if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
          $(this).collapse('hide');
      }

  });
  
</script>

</body>
</html>
